body {
    font: 16px arial, sans-serif;
    background-image: url(../img/cloudy-day.png)
}

.container {
    width: 800px;
    margin: auto;
    background-image: linear-gradient( #0099ff, #ccffee);
}

.header {
    padding: 30px;
    padding-top: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

.header ul li {
    display: inline-block;
    font: 19px arial, sans-serif;
    margin-right: 27px;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: white;
    transition: .3s;
}

.header a:hover {
    background-color: white;
    color: #0000b3;
    padding: 7px;
    border-radius: 5px;
}

.header .judul {
    font-weight: bold;
    font-size: 40px;
    color: #0000e6;
}

.banner {
    height: 300px;
    background-image: url(../img/clothing.png);
    background-size: cover;
    background-position: 20px;
    border-top: 10px solid darkcyan;
    margin-top: -30px;
    border-bottom: 10px solid darkcyan;
}

.banner span {
    position: absolute;
    width: 800px;
    background-color: rgb(159, 159, 159, .5);
    height: 180px;
    color: white;
    font-weight: bold;
    line-height: 350px;
    text-align: center;
    padding-bottom: 120px;
    opacity: 0;
    transform: scale(0);
    transition: .3s;
}

.banner span {
    opacity: 0;
    transform: scale(1);
}

.banner span:hover {
    opacity: 1;
    transform: scale(1);
}

.isi {
    padding: 30px;
    padding-top: 5px;
}

h2 {
    font-size: 30px;
    color: #0000e6;
}

.penulis {
    margin-bottom: 27px;
    padding-bottom: 15px;
}

.isi .penulis {
    font-size: 13px;
    margin-top: -18px;
}

.penulis a {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: bold;
}

.isi p {
    color: #000066;
    font-size: 15px;
    margin-right: 7px;
    margin-bottom: 25px;
}

.footer {
    background-color: darkcyan;
    text-align: center;
    padding: 12px;
    font-weight: bold;
    color: #003366;
    font-size: 13px;
}

.tentang img {
    float: left;
    padding-right: 15px;
}